

<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% include 'includes/navbar.html' %} 


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href="{{ url_for('static', filename='css/gaana.css') }}">
</head>
<body>


<div id="siteloader">
</div>

</div>

<div class="audioframe">
  <audio id="audio1" controls>

    <source id="songs1" type="audio/mpeg">

  </audio>
</div>


<script>
$("#Discover").click(function(){

	alert('clicked');
	$.get('/discover', function(response){
		$("#siteloader").html(response);

	});

}); 


$( document ).ready(function(){
	$.get('/base', function(response){
		$("#siteloader").html(response);

	});

}); 

</script>


</body>
</html>





{% comment %} {% extends 'layout.html' %}
{% block body %} {% endcomment %}

{% comment %} <div class="jumbotron text-center">
  <h1>Welcome To Home Page</h1>
  <p class="lead">Aquarius</p>
</div> {% endcomment %}


<div class="audioframe">
  <audio id="audio1" controls>

    <source id="songs1" type="audio/mpeg">

  </audio>
</div>


<script>
var slideIndex = 0;
//createImages(slideIndex)

function plusSlides(n) {
  createImages(slideIndex += n);

 
}

function playAudio(path){


    this.playOptions = document.getElementById("audio1");
    this.playOptions.src = "static/"+path;
    this.playOptions.play();
}


function createImages(slideIndex1){

  if(slideIndex1<0)
      slideIndex=0;

console.log(slideIndex);
  x=document.getElementsByClassName("mySlides");


   if(slideIndex+10>x.length)
    slideIndex=slideIndex-1;


  for(i=0;i<slideIndex;i++)
  {
    x[i].style.display="none";
  }

  for(i=slideIndex;i<slideIndex+10 && i<x.length;i++)
  {
    x[i].style.display="block";
  }
  if(10+slideIndex<x.length)
  {

    for(i=10+slideIndex;i<x.length;i++)
      x[i].style.display="none";

  }

 
  
}



</script>
{%endblock%}

//from discover html
{% extends "mainlayout.html" %}

{% block title %}Discover{% endblock %}
 {% block head %}
  {{ super() }}
{% endblock %}

{%block body%}



//from sample.html

{% extends "mainlayout.html" %}

{% block title %}Home{% endblock %}
 {% block head %}
  {{ super() }}
{% endblock %}

{%block body%}