{% extends "mainlayout.html" %}

{% block title %}Home{% endblock %}
 {% block head %}
  {{ super() }}



<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
{% endblock %}

{%block body%}

<h2>Upload File</h2>
<button id="myBtn">Upload File</button>

<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
        <form action="{{url_for('uploadFile')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="audiofile" accept="audio/*" multiple>
        <input type="file" name="image_file" accept="image/*">
        <input type="submit" value="UploadMusic">
        Name: <input type = "text" name = "name" required>
        Artist:<input type="text" name="artist" required>
        Genre:<input type="text" name="genre" required>
        Year:<input type="text" name="year" required>
    </form>

  </div>

</div>

<script>
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");


var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>
{% endblock%}
</html>
